
body {
    padding: 70px;
}

/* .reset_btn {
    margin-left: 375px;
    margin-right: 410px
} */

.content-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between !important;
}
